/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #6b5353;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.search-bar {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 0.5rem;
}

.search-bar button {
    background-color: #e44d26;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

/* main {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
} */

.filter {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    min-width: 200px;
}

.product-list {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Add styling for product cards here */
